* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
}

#nav {
  border: solid black 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;      
  justify-content: space-evenly; 
  align-items: center;
  position: sticky;   
  background-color: lightcoral; 
  z-index: 99;
  top:0;
  margin-bottom: 20px;
  
}

#nav a{
  color: white;
}